// .BeachDiv{

//     // width: 50rem;
// width: 60rem;
// height: 100%;
// // position: absolute;
//     background-color: blue;
//     margin-left: 30rem;
//     margin-top: 1rem;
//     // position: absolute;
   
// // position: relative;
// display: block;
    
// }

.BeachDiv{
    margin-left: 40rem;
    width: 40rem;
    justify-content: start;
 
}



.BeachTile{
    // float: right;
    // position: absolute;

    border-radius: 1rem;
    background-color: #FA9538;
    height: auto;
    width: 15rem;
    .image{
        margin-top: 1rem;
        height: 10rem;
        width: 15rem;
        padding: 0.55rem;

    }
    .name{
        font-size: 2rem;
        font-weight: 600;

    }
    .location{
        font-size: 1.5rem;
    }

    .ratings{
        font-weight: 700;
        font-size: 1.5rem;
    }
}