.filter-cont{
 
    
   font-size: 0.9rem;
  font-size: 20px;
   font-weight: 500;
   margin-top: 1rem;
      width: 15rem;
      position: absolute;
      margin-left: 10rem;
      height: 80%;
      background-color: #FA9538;
}


