.flex-container {
    display: flex;
    // background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #FA9538;
    // margin: 30px;
    padding: 0px;
    // left: 40rem;
    // margin-left: 2rem;
    flex-shrink: 0;
    font-size: 30px;
    
  }

  