.filter-cont{    
   font-size: 0.9rem;
   border-radius: 1rem;
   font-size: 20px;
   font-weight: 500;
   box-shadow: 0.1rem 0.2rem 0.3rem black;
   margin-top: 1rem;
      width: 15rem;
      position: absolute;
      margin-left: 10rem;
      height: 80%;
      background-color: #e7e7e7;
}